.pLogo {
    text-transform: uppercase;
    font-weight: bold;
    font-family: "ralewaymedium";
    float: left;
}

.liMenu {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 40px;
    font-weight: bold;
    font-family: "ralewaymedium";
    letter-spacing: 1px;
}

input {
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
}
.inputFirst {
  background-color: #00C29F;
  color: white;
}

.p1 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "ralewaymedium";
}
