* {
    font-family: "ralewaythin", "ralewaysemibold_italic", "ralewaymedium", "ralewaylight_italic", "ralewayextralight", "ralewayextrabold_italic", "ralewayblack", "ralewaythin_italic", "ralewaysemibold", "ralewayregular", "ralewaymedium_italic", "ralewaylight", "ralewayitalic", "ralewayextralight_italic", "ralewayextrabold", "ralewaybold_italic", "ralewaybold", "ralewayblack_italic", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}



#pLogo {
    text-transform: uppercase;
    font-weight: bold;
    font-family: "ralewaymedium";
}

.kolorZielen {
    color: #00C29F;
    font-family: "ralewaymedium";
}

.menu {
    list-style: none;
}

.liMenu {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 40px;
    font-weight: bold;
    font-family: "ralewaymedium";
    letter-spacing: 1px;
}

.first {
background-color: white;
box-shadow: 0 -100px 150px 0px #e3e3e3 inset;
width: 100%;
}

input {
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
}
.inputFirst {
  background-color: #00C29F;
  color: white;
}

.p1 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "ralewaymedium";
}
