* {
    box-sizing: border-box;
}
body {
    background-color: black;
}

.clear {
    clear: both;
    content: "";
}
$base-width: 100%/12;
$mainSecondColor: lightGray;
$firstColor: #00C29F;

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 50px 0 50px;

    .row {
        &:after,
        &:before {
            content: "";
            display: table;
            clear: both;
        }

        [class*='col-'] {
            min-height: 1px;
            float: left;
            width: $base-width;
            word-wrap: break-word;

        }
        @for $i from 1 through 12 {
            .col-#{$i} {
                width: $base-width*$i;
            }
        }

    }
}



//////Sekcje
header {
    background-color: black;
    color: white;
    width: 100%;
    padding-bottom: 5px;
}

.third{
  width: 100%;
  background-color: $mainSecondColor;
}

.second{
  width: 100%;
  background-color: white;
}
.fourth{
  width: 100%;
  background-color: white;
}

footer {
  width: 100%;
  background-color: $mainSecondColor;
}
////////ogólne wyrównania, boldy, uppercasy
.displayFlex {
  display: flex;
}

.alignItselfEnd{
  align-self: flex-end;
}

.toUpperCase{
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.justifyContentEnd{
  justify-content: flex-end;
}

.justifyContentCenter{
  justify-content: center;
}

.alignItemsCenter{
  align-items: center;
}


//////////////Inne

hr {
  height: 20px;
  width: 100%;
  color: $firstColor;
}

.firstColor {
    color: $firstColor;
    font-family: "ralewaymedium";
}

.chevron{
  width: 30%;
  height: 30%;
}

#pLogo {
    text-transform: uppercase;
    font-weight: bold;
    font-family: "ralewaymedium";
}
.menu {
    list-style: none;
}


////
